.city-card{
  border: 1px solid #ccc;
  border-radius: 2rem;
  padding: 1rem;
  width: 12rem;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}
.city-card:hover {
  background-color: #f0f0f0;
}

.city-card p {
  font-size: 1rem;
  margin: 5px 0;
}

.loading {
  font-size: 1rem;
  color: #007bff;
  margin: 10px;
}
.city-name{
  color: maroon;
  font-weight: bold;
  text-align: center;
}
.description{
  color: maroon;
  font-weight: bold;
  text-align: center;
}
