.city-card {
  border: 1px solid #ccc;
  border-radius: 2rem;
  padding: 1rem;
  width: 12rem;
  min-height: 10rem;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.city-card:hover {
  background-color: #f0f0f0;
}

.bold-text {
  color: maroon;
  font-weight: bold;
  text-align: center;
}
